{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uswa public school Yultar | Learn to build your dreams</title>
    {% comment %}
    <link rel="stylesheet" href="{% static 'src/style.css' %}" />
    {% endcomment %} {% tailwind_css %}
    <link
      rel="shortcut icon"
      href="{% static 'img/School logo.png' %}"
      type="image/x-icon"
    />
    <style>
      /* Custom scrollbar styles */
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb {
        background: #4a5568;
        border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #718096;
      }
    </style>
  </head>
  <body class="font-['Poppins'] bg-[#0B0531] text-white">
    <header>
      <nav class="flex justify-between items-center">
        <div class="flex justify-center ml-10 items-center">
          <img
            src="{% static 'img/school logo.png' %}"
            class="w-16"
            alt="School logo"
          />
          <ul class="block md:flex items-center justify-center">
            <li class="hidden md:block mx-2"><a href="/">Home</a></li>
            <li class="hidden md:block mx-2"><a href="#about">About</a></li>
            <li class="hidden md:block mx-2"><a href="/result/">Result</a></li>
            <li class="hidden md:block mx-2">
              <a href="/admissions/">Admissions</a>
            </li>
            <li class="hidden md:block mx-2">
              <a href="/blog/">Blog</a>
            </li>
            <li class="hidden md:block mx-2">
              <a href="/certificate/">Certificate</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="p-2 bg-[#1ddc9f] rounded-full text-black font-bold mr-10">
          <a href="/profile/">@{{user.username}}</a>
          <a href="/logout/" class="text-violet-700">Logout</a>
        </div>
        {% else %}
        <div class="md:flex hidden justify-center mr-10 items-center">
          <ul class="flex items-center justify-center">
            <li class="mx-2"><a href="/login/">Login</a></li>
            <li
              class="mx-2 bg-[#FFF500] text-black font-semibold p-2 rounded-tl-full rounded-tr-full rounded-bl-full"
            >
              <a href="/sign-up/">Sign up</a>
            </li>
          </ul>
        </div>
        {% endif %}
        <div class="block md:hidden">
          <span class="text-4xl mr-10 cursor-pointer">&#8801;</span>
        </div>
      </nav>
      <!-- First intro section -->
      <div
        class="flex flex-col lg:flex-wrap lg:flex-row items-center justify-around w-full mt-16"
      >
        <div class="w-full text-center lg:w-1/3 lg:text-left">
          <h1 class="text-5xl font-bold">
            Welcome to build <span class="text-[#00FFD1]">your</span>
            <span class="text-[#FF003D]">dream.</span>
          </h1>
          <p class="mt-10">
            This is the institute to your dreams. lets hack the world with uswa
            public school yultar skardu.
          </p>
          <div class="mt-10 ml-20 flex items-center">
            <a
              href=""
              class="p-2 bg-[#FFF500] text-black font-semibold rounded-t-2xl rounded-br-2xl"
              >Learn more</a
            >
            <a
              href=""
              class="p-2 bg-[#23B2DF] text-black font-semibold mx-2 rounded-t-2xl rounded-bl-2xl"
              >Register</a
            >
          </div>
        </div>
        <div class="w-full mt-2 md:w-1/2">
          <img
            src="{% static 'img/school.png' %}"
            alt="School photo"
            class="rounded-lg w-full"
          />
        </div>
      </div>
      <!-- First intro section end -->
    </header>
    <hr class="mt-10 w-[90%] mx-auto" />
    <!-- About Section -->
    <div class="mt-2">
      <h1 class="text-center text-4xl font-bold">About Us</h1>
      <div class="space-y-5 sm:flex w-full mt-10">
        <div class="w-full md:w-[50%] mt-9 text-right">
          <div class="md:mt-10 ml-10 text-left space-y-5">
            <h1 class="text-3xl font-bold">
              About our <span class="text-[#E72EDE]">school</span>
            </h1>
            <p class="">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
              voluptatem veritatis natus temporibus cupiditate culpa maiores
              numquam ipsum ullam, repellendus maxime beatae nesciunt. Nisi, ea
              architecto! Totam quo tempore blanditiis.
            </p>
            <br />
            <a
              href="/blog/"
              class="p-2 bg-[#FFF500] text-black font-semibold rounded-t-2xl rounded-br-2xl"
              >Learn more</a
            >
          </div>
        </div>
        <div class="md:w-[50%] md:ml-[4rem]">
          <img
            class="rounded-lg w-[35rem]"
            src="{% static 'img/about.jpg' %}"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- About Section end -->
    <hr class="mt-10 w-[90%] mx-auto" />
    <!-- Our team section -->
    <h1 class="text-center text-4xl font-bold mt-5">Our Team</h1>
    <div class="flex flex-wrap space-x-5 items-center justify-around mt-10">
      <div
        class="bg-gray-600 object-cover p-10 rounded-full flex items-center justify-center"
      >
        Avatar
      </div>
      <div
        class="bg-gray-600 object-cover p-10 rounded-full flex items-center justify-center"
      >
        Avatar
      </div>
      <div
        class="bg-gray-600 object-cover p-10 rounded-full flex items-center justify-center"
      >
        Avatar
      </div>
    </div>
    <!-- Our team section ending -->
    <hr class="mt-10 w-[90%] mx-auto" />
    <!-- Facilities section -->
    <h1 class="text-center text-4xl font-bold mt-10">Facilities</h1>
    <div class="flex items-center justify-center w-full mt-10">
      <div class="w-1/2 ml-16">
        <ul>
          <li class="list-disc text-2xl">Well educated Teacher</li>
          <li class="list-disc text-2xl">Computer lab and other labs</li>
          <li class="list-disc text-2xl">Islamic environment</li>
          <li class="list-disc text-2xl">Sports week</li>
          <li class="list-disc text-2xl">Science Laboratories</li>
          <li class="list-disc text-2xl">Skill development</li>
          <li class="list-disc text-2xl">Security</li>
          <li class="list-disc text-2xl">Transportation</li>
          <li class="list-disc text-2xl">Medical Room</li>
          <li class="list-disc text-2xl">Library</li>
        </ul>
      </div>
      <div class="hidden md:block w-1/2 border-gray-700">
        <img
          src="{% static 'img/facilityy.jpg' %}"
          class="ml-10 w-1/2 rounded-lg"
          alt=""
        />
      </div>
    </div>
    <!-- Facilities section ending -->
    <hr class="mt-10 w-[90%] mx-auto" />
    <!-- Footer section -->
    <footer class="w-full mt-5 pb-5">
      <div class="flex items-center justify-center">
        <ul class="flex space-x-10">
          <li>
            <a href="https://facebook.com" target="_blank"
              ><img
                class="w-10 invert"
                src="{% static 'img/facebook-circle-fill.svg' %}"
                alt="facebook"
            /></a>
          </li>
          <li>
            <a href="https://x.com" target="_blank"
              ><img
                class="w-10 invert"
                src="{% static 'img/twitter-line.svg' %}"
                alt="Twitter"
            /></a>
          </li>
          <li>
            <a href="https://youtube.com" target="_blank"
              ><img
                class="w-10 invert"
                src="{% static 'img/youtube-fill.svg' %}"
                alt="YouTube"
            /></a>
          </li>
        </ul>
      </div>
      <div class="flex w-full items-center justify-center">
        <ul class="flex space-x-5 mt-5">
          <li class="hover:underline transition-[0.1s]">
            <a href="#">Home</a>
          </li>
          <li class="hover:underline transition-[0.1s]">
            <a href="#">About</a>
          </li>
          <li class="hover:underline transition-[0.1s]">
            <a href="#">Result</a>
          </li>
          <li class="hover:underline transition-[0.1s]">
            <a href="#">Admission</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
